
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media screen and (max-width: 1900px) {

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}



a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
}

.navbar{
    background-color: transparent;
}

.navbar-nav{
    border-radius: 5px;
    background-color: black;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-link{
    color: rgb(245, 245, 245);

}

.navbar-nav:hover {
    background-color: #fefefe;
    border-radius: 5px;
  }

  .nav-link:hover{
    color: black;
    font-weight: bolder;
    font-size: large;
  }

  .container-fluid{
    background-color: transparent;
  }

header {

    position: fixed;
    top: 0; 
    
    width: 82%;
    height: 10%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 95px;
}


.contenedor-profile{
    display: grid;
    grid-template-columns: 30%  auto;
    grid-template-rows: auto;
    justify-content:center;
    align-items: center;
    gap: 25px;
    margin-top: 170px;
    margin-bottom: 170px;
    scroll-margin-top: 150px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

.text-boton{
    width: max-content;
    padding: 5% 2% 5% 2%;
    font-size: 20px;
    color: white;
    font-weight: 700;
    

}

.text-fount{
    color: rgb(126, 126, 126);
    
}

.img-fluid{
    width: 70%;
    box-shadow: 0 5px 5px rgba(161, 161, 161, 0.5);
    border-radius: 5px;

}

.contenedor-talk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(153, 153, 153);
    color:white ;
    box-shadow: 0 5px 5px rgba(161, 161, 161, 0.5);
    border-radius: 25px;
    scroll-margin-top: 50px;
 
}

.contenedor-icon{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-icon div{
    padding: 10px;
}
.size-icon {
    height: 50px;
    width: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 95px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
html {
    scroll-behavior: smooth;
  }

}